In [7]:
import pandas as pd
import sqlite3

In [12]:
conn = sqlite3.connect('data.sqlite')
query = "SELECT * FROM users;"
 
df = pd.read_sql_query(query,conn)
df

   id  username  roll_number              email password  phone_number hostel
0   1  Mankaran     10803444  manka32@gmail.com    12345     987291791      H