In [1]:
import pandas as pd
import sqlite3

In [4]:
conn = sqlite3.connect('data.sqlite')
query = "SELECT * FROM hostels;"
 
df = pd.read_sql_query(query,conn)
df

,id,name,warden,caretaker,mess_members,student_representatives
0,1,H,ABC,ABC,Mankaran Singh::Udhbav Oberoi,Mankaran Singh::Udhbav Oberoi::Nikhil
1,2,B,ABC,ABC,Mankaran Singh::Udhbav Oberoi,Mankaran Singh::Udhbav Oberoi::Nikhil